.update_employee {
  margin-left: 50px !important;
  margin-right: 20px !important;
  border:1px solid #999999;
  border-radius:15px;
  width: 80%;
}
.control-group ul {
  margin-left: 70px;
  margin-right: 100px;
}
 .container .control-group ul li a {
  color: #000000 !important;
}
.employee {
  margin: 50 50 50 50;
}
.view_employee {
  margin-left: 50px !important;
  margin-right: 20px !important;
  border:1px solid #999999;
  border-radius:15px;
  width: 70%;
}
.view_employee table th {
  color: #999999 !important;
  font-weight: bold;
  background-color: #ffffff !important;
  border-top-style: none !important;
  padding-right: 20px !important;

}
.view_employee table td {
  background-color: #ffffff !important;
  border-top-style: none !important;
}
.control-group p {
  margin-left: 70px;
  margin-right: 100px;
}

.img_avatar img {
  float:left;
  height:130px;
  width:120px;
  border-radius: 5px;
}



.control-group .controls {
  margin-bottom:10px;
  margin-left:100px !important;
  width:650px;
}
.wraper {
  width: 80%;
  margin-left: 10px;
  margin-top: 10px;

}
.employee_left{
  float: left;
}
.employee_main{
  margin-top: 100px;
  float: left;
}

.employee_main span {
  color:#999999 !important;
  font-weight:bold;
  padding-right:20px !important;
  font-size: 13px;

}
.employee_right{
  float: right;
}
.employee_avatar_update {
position:absolute;
left:700px;
top:150px;
}
}
